.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.DraggableSpellList {
  display: grid;
  grid-template-columns: repeat(12, 35px);
  grid-auto-rows: auto;
  justify-items: center;
}

.DraggableSpellList > div {
  grid-column-end: span 1;
}


/* これを消したら隙間がなくなった． */
/* img {
  margin: 5px;
} */
.Board {
  display: flex;
  justify-content: start;
  width: 913px;
  height: 39px;
  border: 2px solid black;
}

